@import "tailwindcss";

body{
   font-family: "Albert Sans", sans-serif;
  font-optical-sizing: auto;
  background: #f5f0f0;
  color: rgba(0, 0, 0, 0.7);

  overflow-x: hidden;
  overflow-y: auto;

}
.container {
  width: 95%;
  margin:  auto;
}


bg-org{
  background-color: #ff5252;
}
link:hover{
  color: #ff5252;
}
.MuiBadge-badge{
  background-color: #ff5252 !important;
}
nav ul li button{
  text-transform: capitalize !important;

}
.silderhome{
  overflow: inherit !important;
}

.swiper-button-prev,
.swiper-button-next {
  display: flex;
  align-items: center;
  justify-content: center;

  background: #f7f7f7;
  border-radius: 50%;
  width: 45px;
  height: 45px;

  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  color: #8a8181;
  overflow: hidden;


}

.swiper-button-prev:after,
.swiper-button-next:after {
  font-size: 20px !important;
  color: #000 !important;
}

.swiper {
  --swiper-navigation-size: 30px;
}
.homeCatSlider{
  overflow: inherit !important;
}
.homeCatSlider .swiper-button-prev, .homeCatSlider .swiper-button-next{
  width: 30px ;
  height: 30px ;
  min-width: 30px;
  overflow: hidden;
}
.homeCatSlider .swiper-button-prev::after{
  font-size: 18px !important;
}

.homeCatSlider .swiper-button-prev {left: 10px !important;}
.homeCatSlider .swiper-button-next {right: 10px !important;}
.homeCatSlider .swiper-button-prev:hover,  .homeCatSlider .swiper-button-next:hover{
  background: #ff5252 !important;
}
.homeCatSlider .swiper-button-prev:hover::after{
  color: #fff !important;
}


::-webkit-scrollbar{
  width: 10px !important;
  height: 10px !important;
}

